In [62]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [63]:
df=pd.read_excel("flight_price.xlsx")

In [64]:
df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [66]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [67]:
# Working on Date_of_Journey

In [68]:
# First splitting the date by '/' as my machine doesnot understand the categorical data and then the each index will be assigned to 'Date', 'Month' and 'Year' features
df['Date_of_Journey'].str.split('/')

0        [24, 03, 2019]
1         [1, 05, 2019]
2         [9, 06, 2019]
3        [12, 05, 2019]
4        [01, 03, 2019]
              ...
10678     [9, 04, 2019]
10679    [27, 04, 2019]
10680    [27, 04, 2019]
10681    [01, 03, 2019]
10682     [9, 05, 2019]
Name: Date_of_Journey, Length: 10683, dtype: object

In [69]:
df['Date']=df['Date_of_Journey'].str.split('/').str[0]
df['Month']=df['Date_of_Journey'].str.split('/').str[1]
df['Year']=df['Date_of_Journey'].str.split('/').str[2]

In [70]:
df['Date'].dtypes

dtype('O')

In [71]:
df['Month'].dtypes

dtype('O')

In [72]:
df['Year'].dtypes

dtype('O')

In [73]:
# Or we can check like this type of df['Date'].str.split('/').str[0] is Series and type of df['Date'].str.split('/').str[0][0] is str, it is the first element of df['Date'].str.split('/').str[0] is Series and type of df['Date'].str.split('/').str[0] 
type(df['Date'].str.split('/').str[0][0])

str

In [74]:
df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,2019

In [75]:
# Still the data in the new features are string type
df['Date']=df['Date'].astype(int)
df['Month']=df['Month'].astype(int)
df['Year']=df['Year'].astype(int)

In [76]:
df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019

In [77]:
df.drop('Date_of_Journey', axis=1, inplace=True)

In [78]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019

In [79]:
# Working on Arrival_Time

In [80]:
df['Arrival_Time'].str.split(' ').str[0]

0        01:10
1        13:15
2        04:25
3        23:30
4        21:35
         ...
10678    22:25
10679    23:20
10680    11:20
10681    14:10
10682    19:15
Name: Arrival_Time, Length: 10683, dtype: object

In [81]:
df['Arrival_Time'].str.split(' ').str[0].str.split(':')

0        [01, 10]
1        [13, 15]
2        [04, 25]
3        [23, 30]
4        [21, 35]
           ...
10678    [22, 25]
10679    [23, 20]
10680    [11, 20]
10681    [14, 10]
10682    [19, 15]
Name: Arrival_Time, Length: 10683, dtype: object

In [82]:
df['Arrival_hours']=df['Arrival_Time'].str.split(' ').str[0].str.split(':').str[0]
df['Arrival_minutes']=df['Arrival_Time'].str.split(' ').str[0].str.split(':').str[1]

In [83]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hours,Arrival_minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019,01,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019,13,15

In [84]:
df.drop('Arrival_Time', axis=1, inplace=True)

In [85]:
df['Arrival_hours'].dtypes

dtype('O')

In [86]:
df['Arrival_minutes'].dtypes

dtype('O')

In [87]:
df['Arrival_hours']=df['Arrival_hours'].astype(int)
df['Arrival_minutes']=df['Arrival_minutes'].astype(int)

In [88]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hours,Arrival_minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662,1,5,2019,13,15

In [89]:
df['Arrival_hours'].dtypes

dtype('int64')

In [90]:
df['Arrival_minutes'].dtypes

dtype('int64')

In [91]:
# Working on Dep_Time feature

In [92]:
df['Dep_hours']=df['Dep_Time'].str.split(':').str[0]
df['Dep_minutes']=df['Dep_Time'].str.split(':').str[1]

In [93]:
df['Dep_hours'].dtypes,df['Dep_minutes'].dtypes

(dtype('O'), dtype('O'))

In [94]:
df['Dep_hours']=df['Dep_hours'].astype(int)
df['Dep_minutes']=df['Dep_minutes'].astype(int)

In [95]:
df['Dep_hours'].dtypes,df['Dep_minutes'].dtypes

(dtype('int64'), dtype('int64'))

In [96]:
df.drop('Dep_Time', axis=1, inplace=True)

In [97]:
df.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hours,Arrival_minutes,Dep_hours,Dep_minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,2019,13,15,5,50

In [98]:
# We do not want Route as it is talking about source and destination that are the features already there in the dataset.
df.drop('Route', axis=1, inplace=True)

In [99]:
df.head(2)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hours,Arrival_minutes,Dep_hours,Dep_minutes
0,IndiGo,Banglore,New Delhi,2h 50m,non-stop,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2 stops,No info,7662,1,5,2019,13,15,5,50

In [100]:
# Working on Duration

In [101]:
# first splitting by space and take the first index of the split and then again splitting by 'h' and take the first index
df['Duration'].str.split(' ').str[0].str.split('h').str[0]

0         2
1         7
2        19
3         5
4         4
         ..
10678     2
10679     2
10680     3
10681     2
10682     8
Name: Duration, Length: 10683, dtype: object

In [102]:
df['Duration_hours']=df['Duration'].str.split(' ').str[0].str.split('h').str[0]
df['Duration_minutes']=df['Duration'].str.split(' ').str[1].str.split('m').str[0]

In [103]:
df['Duration_hours'].dtypes, df['Duration_minutes'].dtypes

(dtype('O'), dtype('O'))

In [104]:
df.head(2)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hours,Arrival_minutes,Dep_hours,Dep_minutes,Duration_hours,Duration_minutes
0,IndiGo,Banglore,New Delhi,2h 50m,non-stop,No info,3897,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,7h 25m,2 stops,No info,7662,1,5,2019,13,15,5,50,7,25

In [61]:
df['Duration_hours'].isnull().sum()

0

In [105]:
# remove non-numeric characters from the columns
df['Duration_hours'] = df['Duration_hours'].str.replace(r'\D+', '').astype(int)
df['Duration_minutes'] = df['Duration_minutes'].str.replace(r'\D+', '').astype(int)

ValueError: cannot convert float NaN to integer

In [106]:
df['Duration_minutes']=df['Duration_minutes'].fillna(df['Duration_minutes'].mean())

TypeError: can only concatenate str (not "int") to str

In [60]:
df['Duration_hours']=df['Duration_hours'].astype(int)
#df['Duration_minutes']=df['Duration_minutes'].astype(int)

ValueError: invalid literal for int() with base 10: '5m'